extends layout 

block content 
    h1 Log in
    form(action="", method="post") 
        div.form-group
            label(for="username") Username 
            input#username.form-control(type="text", name="username", required)
        div.form-group
            label(for="password") Password
            input#password.form-control(type="text", name="password", required)
        button.btn.btn-primary(type="submit")  Submit 
        button.btn
            a(href="/users/register") Register 

    